.button {
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    background-color: rgb(131, 0, 0);
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px;
    float: right;
}

.mainDiv {
}

.statementDiv {
    text-align: left;
}

.answers {
    text-align: right;
}

.block {
    padding: 10px 10px;
    margin: 10px 10px;
    background-color: white;
    box-shadow: 10px 5px 5px #b7b7b7;
}

.correctBlock {
    padding: 10px 10px;
    margin: 10px 10px;
    background-color: #86b677;
    box-shadow: 10px 5px 5px #b7b7b7;
}

.incorrectBlock {
    padding: 10px 10px;
    margin: 10px 10px;
    background-color: #a85656;
    box-shadow: 10px 5px 5px #b7b7b7;
}

.feedback {
    text-align: center;
}

